<div class="chromaos-window-panel" data-app-id="{{appId}}" ng-class="windowPanelClassesConfig">
	<div class="chromaos-window-panel-header" chromaos-contextual-menu="chromaosContextualMenuConfig" ng-show="!isBorderless();">
		<div class="chromaos-window-panel-header-icon">
			<i class="{{appIcon}} fa-fw"></i>
		</div>
		<div class="chromaos-window-panel-header-title">
			{{title}}
		</div>
		<div class="chromaos-window-panel-header-actions chromaos-window-panel-header-actions-{{windowPanel.style}}">
			<div ng-repeat="windowPanelAction in windowPanel.options" class="chromaos-window-panel-header-actions-{{windowPanel.style}}-action chromaos-window-panel-header-actions-{{windowPanel.style}}-{{windowPanelAction.className}}" ng-click="windowPanelAction.action();">
				<i class="chromaos-window-panel-header-actions-{{windowPanel.style}}-action-icon {{windowPanelAction.icon}}"></i>
			</div>
		</div>
	</div>
	<div class="chromaos-window-panel-content" ng-class="{'borderless': isBorderless()}" chromaos-contextual-menu>
		<div chromaos-window-panel-compiler tpl="tpl"></div>
	</div>
</div>
